@import "base";

.box {
  display: flex;
  min-height: 48px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;
  border: 1px solid #313d7d;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 1px 1px 10px rgba(49, 61, 125, 0.25);
}

@primary-color: #313d7d;


.el-input__inner:focus {
  box-shadow: 0 0 0 1px @primary-color inset !important;
}

:root {
  --el-color-primary: @primary-color !important;
  --el-color-primary-dark-2: @primary-color !important;
  --el-color-primary-light-3: @primary-color !important;
}
.el-message{
  --el-message-min-width: 250px !important;
}

